.App {
  text-align: center;
}

.side-bar{
  height: 100%;
  background-color: #23263c;
  position: fixed;
  color: #dfe5eb;
  width: 200px;
}

.side-bar-me{
  margin-top: 200px;
}

.sidebar-content-name{
  margin-left: 10px;
}

.sidebar-content{
  text-decoration: none;
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  padding: 15px;
  margin-top: 10px;
  background-color:#23263c;
  cursor: pointer;
} 

.sidebar-content:hover{
  background-color: #44484b;
}